<% provide(:title, @taxon.name) %>
<%= render 'categories_light_section_header', name: @taxon.name %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories_sidebar', taxonomies: @taxonomies %>
        <%= render 'color_sidebar' %>
        <%= render 'size_sidebar' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <%= render 'categories_products', products: @products %>
      </div>
    </div>
  </div>
</section>
<%= render 'partner_logo_slider' %>
