<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <%= render 'products_light_section_header', name: @product.name %>
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'single_product', product: @product %>
      <%= render 'related_products', related_products: @related_products %>
    </div>
  </section>
</div>
